    /*text attributes*/
body{background-color: black;}
h1, h2, p {color:white;}
h1, h2, p {font-family: Arial, Helvetica, sans-serif;}
    /*link attributes*/
:link{color: lightskyblue;}
:visited{color: rgb(159, 0, 233);}

